<?xml version='1.0' encoding='utf-8'?>
<widget id="com.photokandy.cordova.example.keyboard" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CdvKbdEx</name>
    <description>
        A simple example demonstrating keyboard avoidance.
    </description>
    <author email="kerrishotts@gmail.com" href="http://www.photokandy.com">
        Kerri Shotts
    </author>
    <content src="index.html" />
    <preference name="fullscreen" value="false" />
    <preference name="orientation" value="default" />
    <preference name="stay-in-webview" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="detect-data-types" value="false" />
    <preference name="SupressesIncrementalRendering" value="true" />
    <preference name="android-minSdkVersion" value="12" />
    <preference name="android-installLocation" value="auto" />
    <preference name="android-windowSoftInputMode" value="adjustResize" />
    <access origin="*" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <engine name="ios" spec="~4.3.1" />
    <plugin name="cordova-plugin-device" spec="~1.1.4" />
</widget>
